body {
  margin: 0;
  /* vojislav: fixed misspelled background-image property name :) */
  background-image: url("images/leaf.jpg");
  background-image: url("images/leaves.jpg");
  background-image: url("images/letters.jpg");
  background-image: url("images/sand.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* Jing: add required font-size and font-family */
  font-size: 16px;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  /* jing: add a background for .disabled test */
  background: url("https://static.pexels.com/photos/19068/mirror-light-black-glass.jpg") repeat-y;
  background-size: 100%;
}

.questionnaire * {
  box-sizing: border-box;
}

.questionnaire *:focus {
  outline: none;
}

.questionnaire {
  width: 80%;
  max-width: 800px;
  min-width: 400px;
  /* vojislav: removed top and bottom margin and placed it to .questionnaire-card */
  margin: auto;
  /* Vojislav: change base font size for the form and add letter spacing */
  font-size: 1.35rem;
  letter-spacing: 1px;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.questionnaire .questionnaire-card {
  /* vojislav: added this margin to separate question cards */
  margin: 100px 0;
  /* vojislav: form cards were transparent so the background was seen through them */
  background-color: #fafafa;
  padding: 50px 80px 20px;
  width: 100%;
  border-radius: 3px;
  border: none;
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.5);
}

.questionnaire .title {
  color: #5E35B1;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 20px;
  /* vojislav: this font is lighter weight */
  font-weight: lighter;
}

/* vojislav: title section need to have larger fonts size */

.questionnaire h1.title {
  font-size: 40px;
}

.questionnaire h2.title {
  font-size: 35px;
}

.questionnaire input[class*="answer"],
.questionnaire textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid #5E35B1;
}

/* Vojislav: change font size for inputs and add letter spacing */
.questionnaire input[class*="answer"] {
  /*Jing: add font-size for answers fields*/
  font-size: 1.5rem;
  letter-spacing: inherit;
}

/* Vojislav: change font size for textarea and set font inheritance */
.questionnaire textarea {
  font-size: 1.35rem;
  font-family: inherit;
}

.questionnaire input[class*="answer"]:focus,
.questionnaire textarea:focus {
  border: 1px solid #5E35B1;
  border-bottom: 3px solid #5E35B1;
}

/* vojislav: these style are no longer needed, inheritance applies them */

/* Jing: style placeholder' font-size */
/*.questionnaire input::-webkit-input-placeholder {
  font-size: inherit;
}

.questionnaire input::-moz-placeholder {
  font-size: inherit;
}

.questionnaire input:-ms-input-placeholder {
  font-size: inherit;
}*/

.questionnaire .required::after {
  content: "REQUIRED";
  color: #B71C1C;
  font: bold 14px "Roboto", "Helvetica Neue", sans-serif;
  float: right;
}

.questionnaire .questionnaire-card div {
  margin: 35px 0;
}

/* Jing: add .submit here for common styles, different styles are overridden below; */
.questionnaire .button,
.submit {
  width: 30%;
  max-width: 200px;
  min-width: 50px;
  border: none;
  background-color: #5E35B1;
  color: #fff;
  margin: 15px auto;
  display: block;
  /* vojislav: removed padding and added center alignment so when the width is smaller the text is still centered */
  padding: 15px 0;
  text-align: center;
}

.questionnaire .button:hover {
  background-color: #7E57C2;
  cursor: pointer;
}


/* vojislav: question text needs to be emphasized */

/* jing: removed the .question class in front of p. p in the last card is not under .quesition, and all p w/out any class under .questionnaire have the same basic style. The rest p who have their classes are not affected by this change.*/

/* vojislav: added 'strong' element to make text more bold */
.questionnaire p,
.questionnaire strong {
  font-weight: bold;
}


/* VOJISLAV: STYLES FOR TWO OTHER CARDS */

.questionnaire p.description {
  font-weight: normal;
  color: #777;
  /* Jing: add a smaller font-size, font-size of the .description in the example looks smaller than the .question */
  /* Vojislav: adjust font size and letter spacing */
  font-size: 1.1rem;
  letter-spacing: normal;
}

.questionnaire div img {
  width: 100%;
}

/* Jing: add sytles for card 3 and 5 */
.questionnaire .disabled {
  pointer-events: none;
  opacity: 0.85;
}

.questionnaire .disabled .title {
  color: rgba(0,0,0,0.4);
}

.questionnaire .multiple-choice {
  display: block;
  margin: 20px 0;
}

.questionnaire .dropdown {
  width: 100%;
  font-size: 1.35rem;
  font-family: inherit;
}

.questionnaire .submit {
  background-color: #C2185B;
}

.questionnaire .submit:hover {
  background-color: #EC407A;
  cursor: pointer;
}
