body {
  margin: 0;
  /* background-image: url("images/leaf.jpg");
  background-image: url("images/leaves.jpg");
  background-image: url("images/letters.jpg");
  background-image: url("images/sand.jpg");*/
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 16px;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  /* vojislav: changed url to load local image */
  background-image: url("images/mirror-light-black-glass.jpg");
  /* vojislav: added background color when the image doesn't load */
  background-color: #222;
}

.questionnaire * {
  box-sizing: border-box;
}

.questionnaire *:focus {
  outline: none;
}

.questionnaire {
  width: 80%;
  max-width: 800px;
  min-width: 400px;
  margin: auto;
  /* vojislav: reduced font size, this will be the base font size for the form */
  /* elements in the form will have their font sizes set in 'em' units to be */
  /* relative to this, base font size */
  font-size: 1.3rem;
  /* vojislav: removed letter spacing, it appears that in firefox letters are */
  /* more condensed than in chrome, that was the reason for adding spacing */
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.questionnaire .questionnaire-card {
  margin: 100px 0;
  background-color: #fafafa;
  /* vojsialv: changed padding for lef and right, the example has larger padding */
  padding: 50px 100px 20px;
  width: 100%;
  border-radius: 3px;
  border: none;
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.5);
}

.questionnaire .title {
  color: #5E35B1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 20px;
  font-weight: lighter;
}

/* vojislav: changed font sizes to 'em' units */
.questionnaire h1.title {
  font-size: 1.92em;
}

.questionnaire h2.title {
  font-size: 1.68em;
}

.questionnaire input[class*="answer"],
.questionnaire textarea {
  width: 100%;
  /* vojislav: reduced padding size a bit */
  padding: 10px;
  /* vojislav: changed border width to 1px */
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid #5E35B1;
}

.questionnaire input[class*="answer"] {
  /* vojislav: this font size is relative to the font size set for .questionnaie class */
  font-size: 1.15em;
  /* vojislav: I left this to disscuss after you see the result without it */
  /* jing: letter spacing is nesessary here */
  letter-spacing: 0.5px;
}

.questionnaire textarea {
  /* vojislav: this font size is relative to the font size set for .questionnaie class */
  font-size: 1em;
  font-family: inherit;
}

.questionnaire input[class*="answer"]:focus,
.questionnaire textarea:focus {
  border: 1px solid #5E35B1;
  border-bottom: 3px solid #5E35B1;
}

.questionnaire .required::after {
  content: "REQUIRED";
  color: #B71C1C;
  /* vojislav: changed font size to 'em' units */
  font: bold 0.67em "Roboto", "Helvetica Neue", sans-serif;
  float: right;
}

/* jing: adjust margin top and bottom, make them larger; */
.questionnaire .questionnaire-card div {
  margin: 45px 0;
}

.questionnaire .button,
.submit {
  /* vojislav: increased width for buttons */
  width: 35%;
  max-width: 230px;
  min-width: 50px;
  border: none;
  background-color: #5E35B1;
  color: #fff;
  margin: 15px auto;
  display: block;
  padding: 15px 0;
  text-align: center;
  /* vojislav: set font-size */
  font-size: 0.85em;
}

.questionnaire .button:hover {
  background-color: #7E57C2;
  cursor: pointer;
}

.questionnaire p,
.questionnaire strong {
  font-weight: bold;
}

/* VOJISLAV: STYLES FOR TWO OTHER CARDS */

.questionnaire p.description {
  font-weight: normal;
  color: #777;
  /* vojislav: this font size is relative to the font size set for .questionnaie class */
  font-size: 0.85em;
}

/* jing: margin between .description and .title is less than the margin between */
/* .description and the content below. The shrinked margin doesn't affect the margin between */
/* .question and .description */
.questionnaire .title + div > .description {
  margin-top: -20px;
}

.questionnaire div img {
  width: 100%;
}

/* Jing: sytles for card 3 and 5 */
.questionnaire .disabled {
  pointer-events: none;
  opacity: 0.85;
}

.questionnaire .disabled .title {
  color: rgba(0,0,0,0.4);
}

/* jing: adjust margin in bewteen; */
.questionnaire .multiple-choice {
  display: block;
  margin: 32px 0;
}

.questionnaire .dropdown {
  width: 100%;
  /* vojislav: this font size is relative to the font size set for .questionnaie class */
  font-size: 1em;
  font-family: inherit;
  /* vojislav: set background, border and padding for select field */
  padding: 2px;
  /* jing: if border is styled, the bg color will be changed and different from MD's. */
  /* So change bg from transparent to white */
  /* change border/outline color to make it looks similar to the example */
  /* Chrome's default border is round. If modify border, the arrow on the right will disappear.*/
  /* So use outline here */
  border: 0;
  outline: 1px solid #9E9E9E;
  background-color: #fff;
}

.questionnaire .submit {
  background-color: #C2185B;
}

.questionnaire .submit:hover {
  background-color: #EC407A;
  cursor: pointer;
}
