body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
  font-size: 16px;
}

body * {
  font-size: inherit; /* reset all font sizes to 16px */ /* Maybe not needed */
  /* reset some other styles */
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  color: inherit;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 15px 0;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #336633;
}

a:hover {
  text-decoration: underline;
  color: #339;
}

i {
  font-style: italic;
  color: green;
}

code {
  font-family: courier, monospace;
  background-color: #eee;
  padding: 2px 5px 0;
  border-radius: 3px;
}

h1 code {
  background-color: transparent;
}

.article-title {
  font-size: 2em;
  text-align: center;
  margin: 30px 0;
}

.article-title p {
  font-size: 1.618em;
  margin: 0;
}

.section-title {
  font-size: 1.6em;
  margin: 20px 0;
}

.container {
  width: 80%;
  max-width: 900px;
  min-width: 700px;
  margin: 0 auto;
}

ul {
  margin-left: 50px;
}

.example p {
  padding: 30px;
  background-color: #fff;
}

.button {
  display: inline-block;
  background-color: #008000;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  box-shadow: 1px 1px 2px 0 #000;
}

.button:hover {
  background-color: #00a000;
  cursor: pointer;
}

footer {
  background-color: #ddd;
}

footer p {
  text-align: center;
  line-height: 100px;
  margin: 0;
  color: #888;
}

.github-logo {
  width: 30px;
  vertical-align: middle;
}
